@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1>MOIS</h1>

        <p>Informační systém fotbalového týmu XY.</p>

    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>Hráči</h2>
            <p>Přehled hráčů, jejich detaily a možnost úpravy a správy.</p>
            <p>
                <a class="btn btn-primary" href="/Player" role="button">Přejít &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>Týmy</h2>
            <p>Informace o týmech, přehled jejich hráčů a zaměstnaců. Možnost vytvoření nového a úprava stávajících.</p>
            <p>
                <a class="btn btn-primary" href="/Team" role="button">Přejít &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>Zápasy</h2>
            <p>Přehled zápasů s možností filtrování a úprav.</p>
            <p>
                <a class="btn btn-primary" href="/Game" role="button">Přejít &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <h2>Statistiky</h2>
            <p>Statistický přehled všech týmů a hráčů.</p>
            <p>
                <a class="btn btn-primary" href="/Stats" role="button">Přejít &raquo;</a>
            </p>
        </div>
    </div>
</div>


